modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]

[[workflows.workflow]]
name = "start app"
mode = "sequential"
author = 42020018

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
